.Contact ul li {
  list-style-type: circle;
  text-align: left;
  margin: 5px 0;
}

.Contact ul li a {
  color: #fff;
  font-weight: 300;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  transition: all 500ms;
  display: inline-block;
  margin-left: 3px;
}
