.Home__icons {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Home__cards {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Home__card {
  background: #f9f9f9;
  box-shadow: 0 0 5px #ccc;
  border-radius: 15px;
  padding: 10px 28px 28px 28px;
  margin-right: 20px;
  flex: 1 0 25%;
  display: flex;
  flex-direction: column;
}

.Home__card:last-child {
  margin-right: 0;
}

.Home__organizers .Home__card {
  margin-bottom: 20px;
}

.Home__organizers .Home__wrapper--links {
  margin-top: auto;
}

.Home__card h4 {
  margin: 18px 0 0 0;
  font-size: 1.4em;
}

.Home__card p {
  margin: 0;
}

.Home__card i {
  margin: 20px 0;
  font-size: 1.4em;
}

.Home__card img {
  max-height: 300px;
  display: block;
  margin: 25px auto;
  max-width: 100%;
}
