.Home__wrapper {
  background: #363537;
  box-shadow: 0 0 5px #363537;
  border-radius: 15px;
  padding: 28px;
  margin: 20px auto;
  color: #fff;
}

.Home__wrapper h3 {
  margin-top: 0;
}

.Home__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.Home__content p {
  flex: 1 0 55%;
  margin-right: 15px;
}

.Home__content p:nth-child(1) {
  margin-top: 0;
}

.Home__content--image img {
  max-width: 10em;
  width: 100%;
}

.Home__wrapper--links {
  display: flex;
  flex-wrap: wrap;
}

.Home__wrapper--links a {
  display: block;
  margin-right: 10px;
  color: #363537;
  font-weight: 300;
  padding: 5px;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  transition: all 500ms;
  color: #fff;
}

.Home__wrapper--links a:hover,
.Home__wrapper--links a:focus {
  color: #363537;
  background: #fff;
  transition: all 500ms;
}
