.Sponsors--links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Sponsors--links a {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 500ms;
  margin: 11px;
}

.Sponsors--links a {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f2f2;
}

.Sponsors--links a:focus,
.Sponsors--links a:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #003349, 0 0 0 6px #fff,
    0 0 0 8px #003349;
  transition: box-shadow 500ms;
}

.Sponsors--links .Sponsors--links-deque {
  background: #003349;
}

.Sponsors--links svg {
  display: block;
  width: 120px;
}

@media (max-width: 450px) {
  .Sponsors--links a {
    width: 100px;
    height: 100px;
  }

  .Sponsors--links svg {
    display: block;
    width: 80px;
  }
}
