header {
  padding: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poiret One', cursive;
  margin: 28px auto;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

p {
  text-align: left;
  font-weight: 400;
}

nav {
  background: #046d5f;
  padding: 7px 0;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  padding: 5px 15px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: block;
  margin: 0 5px;
  transition: all 500ms;
}

nav a:hover,
nav a:focus {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 500ms;
}

main {
  padding: 0 2em 2em 2em;
  margin: 0 auto;
  max-width: 960px;
}
