header {
  padding: 1.5em;
  background: #eafdf8;
}

h1 img {
  width: 300px;
  max-width: 90%;
}

h1 a {
  text-decoration: none;
}

main {
  padding: 0 2em 2em 2em;
  margin: 0 auto;
  max-width: 960px;
}

main:focus {
  outline: 0;
}

main:focus #main-heading {
  outline: 2px solid;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
}

footer {
  margin-top: auto;
  background: #363537;
  color: #fff;
}

@media (max-width: 450px) {
  h1 img {
    width: 200px;
  }

  main {
    padding: 0 1em 1em 1em;
  }

  .Home__card {
    width: 100%;
    margin-right: 0;
  }
}
