.Events--content {
  flex: 1 0 50%;
  margin-right: 15px;
}

.Events .Home__content--image img {
  max-width: 400px;
}

.Events ul li {
  text-align: left;
}

.Events h4 {
  padding: 1em;
  font-weight: 100;
  text-align: left;
  background-color: #363537;
  color: #fff;
}

.Events .Home__wrapper--links.ita a {
  font-style: italic;
  font-size: 0.75em;
  border-bottom: 1px dotted;
}

.Events .Sect .Home__wrapper--links a {
  color: #363537;
  border-color: #363537;
}

.Events .Sect .Home__wrapper--links a:focus,
.Events .Sect .Home__wrapper--links a:hover {
  background: #363537;
  color: #fff;
}

.Home__wrapper--links .TwitchLink {
  color: #363537;
  border-color: #363537;
  border-bottom: 1px dotted;
  text-decoration: none;
}

@media (max-width: 450px) {
  .Contact .Events--content {
    font-size: 15px;
  }
}
