html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #1f2d3d;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
